<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="#"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="index.html">Dashboard</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-table"></i> Quản lý danh mục <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li> @Html.ActionLink("Category", "Index", "Categories")</li>
                    <li>@Html.ActionLink("Stuff", "Index", "Stuffs")</li>
                    <li>@Html.ActionLink("Product", "Index", "Products")</li>
                    <li><a href="price.html">Product</a></li>
                    <li><a href="promotion.html">Product</a></li>
                    <li><a href="provider.html">Product</a></li>
                    <li><a href="importBill.html">Product</a></li>
                    <li><a href="order.html">Product</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-bar-chart-o"></i> Quản trị người dùng <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink("User", "Index", "User_")</li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-clone"></i>Quản lý hóa đơn bán <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                    <li><a href="fixed_footer.html">Fixed Footer</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-clone"></i>Thống kê <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                    <li><a href="fixed_footer.html">Fixed Footer</a></li>
                </ul>
            </li>
        </ul>
    </div>
   

</div>
