
@{
    ViewBag.Title = "Ytuong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-9">
            <div id="myCarousel" class="carousel slide mt-3 me-3" data-ride="carousel">
                <div class="carousel-inner slide ">
                    <div class="item">
                        <img height=500px width="100%" src="/Assets/Client/image/bo-suu-tap-osaka-moi-nha-xinh-6522-1346x800.jpg" alt="Thiết kế 1">
                        <div class="carousel-caption slide_inspriation text-start w-50" style="margin-top:-80px ;">
                            <p class="font-dancing fw-bold">Góc cảm hứng…</p>
                            <h1 class="text-white" style="font-size: 50px;">Ý TƯỞNG KHÔNG GIAN SỐNG</h1>
                            <button class="btn btn-outline-dark " style="font-size: 20px;">XEM THÊM</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div id="myCarousel" class="carousel slide mt-3  " data-ride="carousel">
                <div class="carousel-inner slide ">
                    <div class="item">
                        <img class="fakeimg" height="240px" src="/Assets/Client/image/armchair-dep-mau-hong-hien-dai-13522-305x400.jpg" alt="">
                    </div>
                </div>
            </div>
            <div id="myCarousel" class="carousel slide mt-3 " data-ride="carousel">
                <div class="carousel-inner slide ">
                    <div class="item">
                        <img class="fakeimg" height="240px" src="/Assets/Client/image/GIUONG-DEP-GIA-TOT-IRIS-1-400x400.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Mẫu cảm hứng -->
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-6 ">
            <div class="swiper-slide d-block " data-aos="fade-up" data-aos-duration="2000">
                <img class="height_img" src="/Assets/Client/image/khong-gian-tet-trung-thu-768x512.jpg">
                <div class=" nav-link hover_text cursor" style="margin-left: -15px;">
                    <h5 class=" ">Đón màu trung thu mới trong không gian xinh</h5>
                    <div class="line"></div>
                    <p class="design_text">Hàng  năm, khi đến tết trung thu, một ngày lễ mang nhiều ý nghĩa về[...]						</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="swiper-slide  d-block " data-aos="fade-up" data-aos-duration="2000" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/sofa-poppy-3-cho-vai-vang-5.jpg">
                <div class="hover_text nav-link cursor" style="margin-left: -15px;">
                    <h5 class=" ">Những lưu ý khi chọ nmàu nội thất</h5>
                    <div class="line"></div>
                    <p class="design_text">Nếu bạn đang có nhu cầu mua sắm nội thất, chắc hẳn bạn đã có [...]					</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ">
            <div class="swiper-slide d-block " data-aos="fade-up" data-aos-duration="2000">
                <img class="height_img" src="/Assets/Client/image/phong-khach-tram-am-osaka-1536x1024.jpg">
                <div class=" nav-link hover_text cursor" style="margin-left: -15px;">
                    <h5 class=" ">Khám phá Nhà Xinh tại triển lãm Handy Craft & Home Decor</h5>
                    <div class="line"></div>
                    <p class="design_text">Từ Ngày 19/7/2022, tại Trung tâm xúc tiến thương mại TP.HCM số 92-92 Nguyễn Huệ, Quận 1, TPHCM sẽ diễn [...]						</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="swiper-slide  d-block " data-aos="fade-up" data-aos-duration="2000" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/em-va-trinh-nha-xinh-tai-tro-4-1536x1059.jpg">
                <div class="hover_text nav-link cursor" style="margin-left: -15px;">
                    <h5 class=" ">Nhà Xinh tài trợ Em và Trịnh</h5>
                    <div class="line"></div>
                    <p class="design_text">“Em và Trịnh” là bộ phim dựa trên cuộc đời và những bài hát sống mãi với thời gian của [...]					</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ">
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/ke-sach-iris.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Tiết kiệm không gian căn hộ chung cư một cách thông minh</h5>
                    <div class="line"></div>
                    <p class="design_text">Với những căn hộ chung cư, diện tích không gian sẽ khá hạn chế để có thể tối ưu hóa [...]					</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/ke-sach-hien-dai-gamma.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">5 ý tưởng lắp đầy những khoảng trống cho căn phòng của bạn</h5>
                    <div class="line"></div>
                    <p class="design_text">Sắp xếp, làm mới lại không gian sống cũng là một trong những cách nhanh nhất mang đến cảm giác [...]					</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ">
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/nha-xinh-phong-ngu-giuong-ngu-go-hien-dai-pop-5-1536x1262.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">5 mẫu phòng ngủ đem lại sự thoải mái cho giấc ngủ của bạn</h5>
                    <div class="line"></div>
                    <p class="design_text">Sắp xếp, làm mới lại không gian sống cũng là một trong những cách nhanh nhất mang đến cảm giác [...]					</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/phong-ngu-giuong-hoc-keo-iris-5.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Sản phẩm giá tốt</h5>
                    <div class="line"></div>
                    <p class="design_text">Lựa chọn các sản phẩm đẹp giá tốt [...]					</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slide góc cảm hứng đa dạng màu sắc -->
<div class="container-fluid">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper" data-aos="fade-up" data-aos-duration="2000">
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img class="height_img" src="/Assets/Client/image/bo-suu-tap-maxine-gold-1-768x512.jpg">
                <div class="mt-3 nav-link hover_text cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Phòng ngủ Maxine</h5>
                    <div class="line"></div>
                    <p class="design_text">Phòng ngủ Maxine mang thiết kế vô cùng độc đáo ,tone màu gỗ trầm và [...]						</p>
                </div>
            </div>
            <div class="swiper-slide  d-block" data-aos="fade-up" data-aos-duration="2000" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/bo-suu-tap-may-net-viet-duong-dai-5-768x575.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Phòng ngủ Mây</h5>
                    <div class="line"></div>
                    <p class="design_text">Giường ngủ bọc da mây là sự kết hợp giữa thân giường chính bằng gỗ [...]					</p>
                </div>
            </div>
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/giuong-ngu-boc-vai-pio-1m8-1.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Giường ngủ Pio hiện đại và thoải mái</h5>
                    <div class="line"></div>
                    <p class="design_text">Giường ngủ gỗ bọc vải 1m8 Pio sang trọng và thoải mái và giúp bjan thư [...]					</p>
                </div>
            </div>
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/nhaxinh-phong-an-may-201210.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Phòng ăn Mây</h5>
                    <div class="line"></div>
                    <p class="design_text">Bàn ăn Mây được làm từ tràm đỏ kết hợp với inox màu gold [...]					</p>
                </div>
            </div>
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/nha-xinh-phong-an-bridge-go-nau-da-cognac-768x559.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Phòng ăn Bridge nâu trầm</h5>
                    <div class="line"></div>
                    <p class="design_text">Nét nâu trầm, ấm cúng và sang trọng từ bộ sưu tập Bridge được thể [...]					</p>
                </div>
            </div>
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/bo-suu-tap-victoria-5-1-768x504.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Phòng ngủ Victoria</h5>
                    <div class="line"></div>
                    <p class="design_text">Sự lôi quấn kỳ diệu đến từ thiết kế trang nhã, lấy cảm hứng cổ [...]					</p>
                </div>
            </div>
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/nha-xinh-phong-ngu-giuong-ngu-go-hien-dai-pop-5-1536x1262.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Phòng ngủ Pop</h5>
                    <div class="line"></div>
                    <p class="design_text">Nhẹ nhàng, duyên dáng và ấm ấp, phòng ngủ Pop lấy cả, hứng bắc âu [...]					</p>
                </div>
            </div>
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/nha-xinh-phong-ngu-giuong-boc-vai-co-hoc-iris-768x506.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Phòng ngủ thông minh Iris</h5>
                    <div class="line"></div>
                    <p class="design_text">Giường hộc kéo Iris với thiết kế đóng nút đầu giường, điểm đặc biệt là [...]					</p>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<!-- instagram -->
<div class="container-fluid  mt-5 ">
    <div class="color_button osition-relative d-flex">
        <a class="position-absolute link_instagram" href="#"> > </a>
        <button class="position-absolute button_instagram btn">
            <h3 class=" text-dark mt-1"><i class="fa-brands fa-instagram me-2"></i>NHÀ XINH INSTAGRAM</h3>
        </button>
    </div>
    
</div>
<div class="container design_top">
    <h3><i class="fa-brands fa-instagram"></i> nha_xinh</h3>
</div>
<div class="container-fluid mb-3">
    <div class="row design_bottom" data-aos="fade-down" data-aos-duration="3000">
        <div class="col ">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/300877924_611935117067842_1877616114366739360_nlow.jpg" alt="">
        </div>
        <div class="col">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/298326321_1023750038312411_7680981123597098176_nlow.jpg" alt="">
        </div>
        <div class="col">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/295907713_1223508001784258_8774178812293311027_nlow.jpg" alt="">
        </div>
        <div class="col">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/294679981_600768861658126_3197317631605725390_nlow.jpg" alt="">
        </div>
    </div>
    <div class="row " data-aos="fade-up" data-aos-duration="3000">
        <div class="col">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/294389966_3206152186310135_4669148255450209640_nlow.jpg" alt="">
        </div>
        <div class="col">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/292190054_1116080445931850_5370255655595708420_nlow.jpg" alt="">
        </div>
        <div class="col">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/290917408_1478290412619822_6231962353179006553_nlow.jpg" alt="">
        </div>
        <div class="col">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/288530967_2240536319436053_7756105841528101718_nlow.jpg" alt="">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button class="design_top btn btn-warning ">Xem thêm</button>
        <button class="design_top btn btn-info" style="margin-left:20px">Follow on Instagram</button>
    </div>
</div>
