
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- history of formation -->
<div class="container mt-5">
    <h1>LỊCH SỬ HÌNH THÀNH</h1>
    <p class="lh-lg">Ra đời từ ý tưởng tạo nên sự khác biệt, Nhà Xinh đã giữ vững và phát triển trở thành vị trí hàng đầu trong thị trường nội thất Việt Nam. Đến nay, Nhà Xinh đã có nhiều cửa hàng quy mô và chuyên nghiệp tại các thành phố lớn là Hà Nội và TP.HCM, Bình Dương.</p>
</div>
<!-- history details -->
<div class="container-fluid mt-2">
    <div class="row ps-3 pe-3">
        <div class="col-sm-6 mt-3">
            <img class="fakeimg pe-3 ps-3" src="/Assets/Client/image/bo-suu-tap-may-net-viet-duong-dai-3.jpg" alt="">
        </div>
        <div class="col-sm-6 ps-3 pe-3 ">
            <div class="mt-3">
                <span class="fw-bold">2021:</span>
                <span>Khẳng định thương hiệu bền vững với những bước phát triển mới dù đối mặt những khó khăn do dịch bệnh Covid. Hệ thống cửa hàng mở rộng, với showroom mới tại Bình Dương.</span>
            </div>
            <div class="mt-3">
                <span class="fw-bold">2020:</span>
                <span>Đơn vị chủ quản thương hiệu Nhà Xinh – AKA Furniture Group tái cơ cấu trở thành thành viên của tập đoàn AA Corporation – Tập đoàn sản xuất và thi công nội thất chất lượng cao hàng đầu Châu Á.</span>
            </div>
            <div class="mt-3">
                <span class="fw-bold">2019:</span>
                <span>Đây là năm mang dấu ấn đặc biệt của thương hiệu Nhà Xinh – Đánh dấu chặng đường phát triển 20 năm. Với sự xuất hiện của 2 cửa hàng tại Nguyễn Văn Hưởng (Q2, HCM) và Trung tâm nội thất Thụy Khuê (Tây Hồ, Hà Nội)</span>
            </div>
            <div class="mt-3">
                <span class="fw-bold">2016:</span>
                <span>Mở rộng hệ thống Nhà Xinh với 2 cửa hàng lớn ở ngay trung tâm thủ đô Hà Nội thuộc quận Hoàn Kiếm và quận Đống Đa.</span>
            </div>
            <div class="mt-3">
                <span class="fw-bold">2011 - 2014:</span>
                <span>Khẳng định thương hiệu với sự xuất hiện của 2 cửa hàng mới tại ngã tư trung tâm Q1, TP.HCM (Hai Bà Trưng – Trần Cao Vân) và TTTM Royal City Hà Nội.</span>
            </div>
            <div class="mt-3">
                <span class="fw-bold">2005 - 2010:</span>
                <span>Phát triển mạnh mẽ với hệ thống cửa hàng trên các khu đô thị mới là Nhà Xinh Yên Hòa, Nhà Xinh Phú Mỹ Hưng và Nhà Xinh Centre – khu vực trung tâm Q1.</span>
            </div>
            <div class="mt-3">
                <span class="fw-bold">2002 - 2005:</span>
                <span>Nhà Xinh Cát Linh tại Hà Nội và Nhà Xinh Citimart tại TP.HCM nhằm hoàn thiện hệ thống và phục vụ tốt hơn cho Khách hàng.</span>
            </div>
            <div class="mt-3">
                <span class="fw-bold">1999:</span>
                <span>Ra đời với 2 cửa hàng lớn tại Hà Nội và TP.HCM, mang đậm phong cách riêng về thiết kế và cách bày trí.</span>
            </div>
        </div>
    </div>
    <div class="row ps-3 pe-3">
        <div class="col-sm-6 mt-3">
            <img class="fakeimg pe-3 ps-3" src="/Assets/Client/image/bo-suu-tap-maxine-phong-an-768x1151.jpg" height="500px" alt="">
        </div>
        <div class="col-sm-6 ps-3 pe-3">
            <h4>Giá trị và sự khác biệt</h4>
            <p>Với mong muốn phát triển thương hiệu Việt bằng nội lực, Nhà Xinh đã chú trọng vào thiết kế và sản xuất nội thất trong nước. Danh mục sản phẩm của Nhà Xinh thường xuyên được đổi mới và cập nhật, liên tục cung cấp cho khách hàng các dòng sản phẩm theo xu hướng mới nhất. Do chính người Việt thiết kế và sản xuất, nội thất thương hiệu Nhà Xinh luôn phù hợp với cuộc sống Á Đông, đem đến sự tiện nghi hoàn hảo trong mọi không gian sống.</p>
            <p>Hơn 70% sản phẩm của Nhà Xinh được thiết kế, sản xuất bởi đội ngũ nhân viên cùng công nhân ưu tú với nhà máy có cơ sở vật chất hiện đại bậc nhất tại Việt Nam.</p>
            <p>Sự khác biệt của Nhà Xinh chính là sáng tạo nội thất thành phong cách riêng, phù hợp với nhu cầu khách hàng. Không chỉ là sản phẩm nội thất đơn thuần, mà còn là không gian sống theo phong cách riêng với cách bày trí hài hòa từ đồ nội thất kết hợp với đồ trang trí. Giúp khách hàng cảm nhận được một không gian sống thực sự, cảm thấy thoải mái để tận hưởng cuộc sống.</p>
        </div>
    </div>
    <div class="row ps-3 pe-3">
        <div class="col-sm-6 mt-3">
            <img class="fakeimg pe-3 ps-3" src="/Assets/Client/image/nha-xinh-gioi-thieu-chat-luong-251121.jpg" alt="">
        </div>
        <div class="col-sm-6 ps-3 pe-3">
            <h4>Chất lượng và dịch vụ</h4>
            <p>Chất lượng của nguyên vật liệu, phụ kiện và quy trình sản xuất đều được kiểm định và giám sát chặt chẽ bởi hệ thống quản lý chất lượng ISO 9001. Sản phẩm của Nhà Xinh được thiết kế theo định hướng công năng sử dụng, thẩm mỹ và chất lượng. Trong những năm gần đây, thương hiệu luôn hướng đến xu hướng thiết kế xanh nhằm đóng góp không chỉ một không gian sống tiện nghi mà còn là một môi trường sống trong lành cho người sử dụng và cộng đồng. Với nhiều cống hiến như vậy, Nhà Xinh vinh dự nhiều năm liền được trao tặng các danh hiệu “Hàng Việt Nam chất lượng cao”, “Trusted brand” và “Top 100 nhà cung cấp hàng đầu”.</p>
            <p>Bên cạnh đó, Nhà Xinh tự hào sở hữu đội ngũ tư vấn thiết kế và kỹ sư chuyên nghiệp, có kiến thức sâu rộng trong lĩnh vực đồ gỗ nội thất. Tập thể nhân viên tại Nhà Xinh cam kết nỗ lực tư vấn và trợ giúp khách hàng lựa chọn sản phẩm ưng ý nhất. Dịch vụ tư vấn thiết kế của Nhà Xinh sẽ giúp khách hàng kiến tạo một không gian sống như ý thông qua sự phối hợp điêu luyện giữa các sản phẩm nội thất và đồ trang trí.</p>

        </div>
    </div>
    <div class="row ps-3 pe-3">
        <div class="col-sm-6 mt-3">
            <img class="fakeimg pe-3 ps-3" src="/Assets/Client/image/nha-may-aa-tayninh-1536x863.jpg" alt="">
        </div>
        <div class="col-sm-6 ps-3 pe-3">
            <h4>Nhà máy</h4>
            <p>Phần lớn sản phẩm của Nhà Xinh được sản xuất tại nhà máy của Tổng công ty AA (AA Đức Hòa, Long An và AA Tây Ninh) có diện tích 80.000m2, với trang thiết bị hiện đại nhất và theo tiêu chuẩn ISO 9001, chuyên sản xuất các sản phẩm nội thất chất lượng cao cho các khách sạn, nhà hàng 5 sao, dự án nội thất cao cấp và xuất khẩu.</p>
            <h4>Nhà Xinh và Cộng Đồng</h4>
            <p>
                Đóng góp cho cộng đồng nằm trong sứ mệnh của Nhà Xinh. Để trở thành thương hiệu tiên phong và văn minh, Nhà Xinh đã thực hiện nhiều các hoạt động công đồng như hỗ trợ trẻ em nghèo, tham gia các hoạt động vì môi trường như thiết kế xanh, đi bộ từ thiện…Những bước chân, hành động không ngừng nghỉ để góp phần cho cuộc sống tốt hơn.
            </p>
        </div>
    </div>
    <div class="row ps-3 pe-3">
        <div class="col-sm-6 mt-3">
            <img class="fakeimg pe-3 ps-3" src="/Assets/Client/image/nha-may-aa-tay-ninh-5.jpg" alt="">
        </div>
        <div class="col-sm-6 ps-3 pe-3">
        </div>
    </div>
    <div class="row ps-3 pe-3">
        <div class="col-sm-6 mt-3">
            <img class="fakeimg pe-3 ps-3" src="/Assets/Client/image/nha-may-aa-tay-ninh-12.jpg" alt="">
        </div>
        <div class="col-sm-6 ps-3 pe-3">
        </div>
    </div>
</div>

