@model IEnumerable<ModelNhaXinh.EF.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Bộ sưu tập osaka -->
<div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner slide">
            <div class="item">
                <img height=500px width="100%" src="/Assets/Client/image/phong-khach-tram-am-osaka-BANNER.jpg" alt="Thiết kế 1">
                <div class="carousel-caption">
                    <h1 class="text-secondary">BỘ SƯU TẬP OSAKA</h1>
                    <button class="btn btn-light " data-aos="fade-right" data-aos-duration="2000">KHÁM PHÁ NGAY</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mẫu thiết kế -->
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-6  ">
            <div class="hidden">
                <img class="fakeimg item " src="/Assets/Client/image/mau-phong-khach-nha-xinh-banner-27722.jpg" alt="">
            </div>

        </div>
        <div class="col-sm-6">
            <div class="row d-flex">
                <div class="col-sm-5">
                    <h4>Không gian phòng khách</h4>
                    <small>Phòng khách là không gian chính của ngôi nhà là nơi sum họp gia đình</small>
                    <a class="nav-link design" href="#">
                        MẪU THIẾT KẾ <i class="fa-solid fa-right-long"></i>
                    </a>
                    <div class="nav-item design_left">
                        <h4>Đồ trang trí</h4>
                        <small>Mang lại những nguồn cảm hứng và nét sinh động cho không gian</small>
                        <a class="nav-link design" href="#">KHÁM PHÁ <i class="fa-solid fa-right-long"></i></a>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="hidden">
                        <img class="fakeimg item" src="/Assets/Client/image/hang-trang-tri-banner-nha-xinh-9-6-22.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mẫ phòng ngủ -->
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-6  ">
            <div class="row ">
                <div class="col-sm-7">
                    <div class="hidden">
                        <img class="fakeimg item" src="/Assets/Client/image/mau-phong-ngu-nx-banner-27722.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="nav-item design_left">
                        <h4>Không gian phòng ngủ</h4>
                        <small>Những mẫu phòng ngủ của Nhà Xinh mang đến cảm giác ấm cúng, gần gũi và thoải mái</small>
                        <a class="nav-link design" href="#">MẪU PHÒNG NGỦ <i class="fa-solid fa-right-long"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="hidden">
                <img class="fakeimg item" src="/Assets/Client/image/mau-phong-an-nha-xinh-banner-27722.jpg" alt="">
            </div>
            <div class="nav-item ">
                <h4 class="design_top">Không gian phòng ăn</h4>
                <small>Một bữa ăn ngon luôn là mong ước của mỗi gia đình. Không gian phòng ăn đóng vai trò rất quan trọng trong văn hóa Việt</small>
                <a class="nav-link design" href="#">MẪU PHÒNG ĂN <i class="fa-solid fa-right-long"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Xem catalog -->
<div class="mt-5 p-4 container-fluid bg-success text-white d-flex">
    <div class="row">
        <div class="col-sm-9">
            <p>Catalogue Nhà Xinh 2022 nay đã ra mắt với những không gian và ý tưởng mới. Tìm cảm hứng cho bạn ngay nhé.</p>
        </div>
        <div class="col-sm-3 " data-aos="fade-left" data-aos-duration="2000">
            <button class="btn btn-outline-light hover_button " data-aos="fade-left" data-aos-duration="2000">XEM CATALOGUE NGAY</button>
        </div>
    </div>
</div>
<!-- Micheal aram -->
<div class="container-fluid design_top fill  ">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner slide">
            <div class="item">
                <img height=500px width="100%" src="/Assets/Client/image/hang-trang-tri-micheal-aram-21622-1400x778.jpg">
                <div class="carousel-caption design_top_up">
                    <h1 class="text-white">MICHAEL ARAM</h1>
                    <h4>Tinh hoa nghệ thuật thủ công, nay đã có mặt tại Nhà Xinh</h4>
                    <button class="btn btn-light " data-aos="fade-right" data-aos-duration="2000">XEM CHI TIẾT</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sản phẩm mới - xem tất cả -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">
            <div class="collapse navbar-collapse boder_bottom" id="navbarID">
                <div class="navbar-nav ">
                    <h4 class="nav-link active text-dark" aria-current="page" href="#">Sản Phẩm Mới</h4>
                </div>
                <div class="navbar-nav cursor">
                    <small class="nav-link active text-dark" aria-current="page" href="#">Xem tất cả <i class="fa-solid fa-chevron-right"></i></small>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- sản phẩm -->
<div class="container-fluid">
    <div class="row">
        @foreach (var pro in Model)
        {
            <div class="col-sm-3 col-6">
                <div class=" hover_total ">
                    <div class="hidden position-relative">
                        <img id="img_active2" class=" fakeimg img_hover" src="@pro.ProImage" alt="">
                        <div class="position-absolute discount">15%</div>
                    </div>
                    <div class="d-flex ">
                        <div class="me-auto">
                            <div class="nav-link text-muted cursor" aria-current="page" href="#">@pro.ProName</div>
                        </div>
                        <div class="ms-auto ">
                            <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                            <bdi class="text-danger ">38,165,000<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                            <small class="text-decoration-line-through mt-3 text-muted ">44,900,000<small class="woocommerce-Price-currencySymbol">₫</small></small>
                        </div>
                    </div>
                    <div class="d-flex design_top hidden_img">
                        <a href="/Home/AddCart/@pro.ProID"><button class=" btn btn-outline-dark">THÊM VÀO GIỎ</button></a>
                        
                        <button class="float-right btn btn-dark">XEM THÊM</button>
                    </div>
                </div>
            </div>
        }
        @*<div class="col-sm-3 col-6">
                <div class=" hover_total">
                    <div class="hidden position-relative">
                        <img id="img_active1" class=" fakeimg img_hover " src="/Assets/Client/image/sofa-combo-goc-boc-vai-xanh-dep-hien-dai-4.jpg" alt="">
                        <div class="position-absolute discount">15%</div>
                    </div>
                    <div class="d-flex ">
                        <div class="me-auto">
                            <div class="nav-link text-muted cursor" aria-current="page" href="#">Sofa Combo góc trái vải 20412 9</div>
                        </div>
                        <div class="ms-auto ">
                            <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                            <bdi class="text-danger ">32,215,000<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                            <small class="text-decoration-line-through mt-3 text-muted ">37,900,000<small class="woocommerce-Price-currencySymbol">₫</small></small>
                        </div>
                    </div>
                    <div class="d-flex design_top hidden_img">
                        <button class=" btn btn-outline-dark " id="add_cart">THÊM VÀO GIỎ</button>
                        <button class="float-right btn btn-dark">XEM THÊM</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-6">
                <div class=" hover_total ">
                    <div class="hidden position-relative">
                        <img id="img_active2" class=" fakeimg img_hover" src="/Assets/Client/image/ban-an-peak-van-may-hien-dai-ceramic-2-600x400.jpg" alt="">
                        <div class="position-absolute discount">15%</div>
                    </div>
                    <div class="d-flex ">
                        <div class="me-auto">
                            <div class="nav-link text-muted cursor" aria-current="page" href="#">Bàn ăn Peak hiện đại mặt Ceramic vân mây</div>
                        </div>
                        <div class="ms-auto ">
                            <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                            <bdi class="text-danger ">38,165,000<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                            <small class="text-decoration-line-through mt-3 text-muted ">44,900,000<small class="woocommerce-Price-currencySymbol">₫</small></small>
                        </div>
                    </div>
                    <div class="d-flex design_top hidden_img">
                        <button class=" btn btn-outline-dark">THÊM VÀO GIỎ</button>
                        <button class="float-right btn btn-dark">XEM THÊM</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-6">
                <div class=" hover_total">
                    <div class="hidden position-relative">
                        <img id="img_active3" class="fakeimg img_hover" src="/Assets/Client/image/armchair-osaka-hien-dai-sang-trong-2-600x400.jpg" alt="">
                        <div class="position-absolute discount">15%</div>
                    </div>
                    <div class="d-flex ">
                        <div class="me-auto">
                            <div class="nav-link text-muted cursor" aria-current="page" href="#">Arm chair Osaka bọc vải SO65</div>
                        </div>
                        <div class="ms-auto ">
                            <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                            <bdi class="text-danger ">12,665,000<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                            <small class="text-decoration-line-through mt-3 text-muted ">14,900,000<small class="woocommerce-Price-currencySymbol">₫</small></small>
                        </div>
                    </div>
                    <div class="d-flex design_top hidden_img">
                        <button class=" btn btn-outline-dark">THÊM VÀO GIỎ</button>
                        <button class="float-right btn btn-dark">XEM THÊM</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-6">
                <div class=" hover_total">
                    <div class="hidden position-relative">
                        <img id="img_active4" class=" fakeimg img_hover" src="/Assets/Client/image/CONSOLE-TABLE-GLORIA-GOLD-82379K-2-600x400.jpg" alt="">
                        <div class="position-absolute discount">15%</div>
                    </div>
                    <div class="d-flex ">
                        <div class="me-auto">
                            <div class="nav-link text-muted cursor" aria-current="page" href="#">Console Table Gloria Gold 82379K</div>
                        </div>
                        <div class="ms-auto ">
                            <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                            <bdi class="text-danger ">30,090,000<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                            <small class="text-decoration-line-through mt-3 text-muted ">35,400,000<small class="woocommerce-Price-currencySymbol">₫</small></small>
                        </div>
                    </div>
                    <div class="d-flex design_top hidden_img">
                        <button class="btn btn-outline-dark">THÊM VÀO GIỎ</button>
                        <button class="float-right btn btn-dark">XEM THÊM</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-6">
                <div class=" hover_total">
                    <div class="hidden ">
                        <img id="img_active5" class=" fakeimg img_hover" src="/Assets/Client/image/Sofa-Combo-3-cho-da-Bali-520-1-600x400.jpg" alt="">
                    </div>
                    <div class="d-flex ">
                        <div class="me-auto">
                            <div class="nav-link text-muted cursor" aria-current="page" href="#">Sofa Combo 3 chỗ da Bali 520</div>
                        </div>
                        <div class="ms-auto ">
                            <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                            <bdi class="text-danger ">50,915,000<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                            <small class="text-decoration-line-through mt-3 text-muted ">59,900,000<small class="woocommerce-Price-currencySymbol">₫</small></small>
                        </div>
                    </div>
                    <div class="d-flex design_top hidden_img">
                        <button class=" btn btn-outline-dark">THÊM VÀO GIỎ</button>
                        <button class="float-right btn btn-dark">XEM THÊM</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-6">
                <div class=" hover_total">
                    <div class="hidden ">
                        <img id="img_active6" class=" fakeimg img_hover" src="/Assets/Client/image/ghe-an-peak-mau-xanh-1-600x400.jpg" alt="">
                    </div>
                    <div class="d-flex ">
                        <div class="me-auto">
                            <div class="nav-link text-muted cursor" aria-current="page" href="#">Ghế ăn Peak vải xanh</div>
                        </div>
                        <div class="ms-auto ">
                            <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                            <bdi class="text-danger ">4,165,000<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                            <small class="text-decoration-line-through mt-3 text-muted ">4,900,000<small class="woocommerce-Price-currencySymbol">₫</small></small>
                        </div>
                    </div>
                    <div class="d-flex design_top hidden_img">
                        <button class=" btn btn-outline-dark">THÊM VÀO GIỎ</button>
                        <button class="float-right btn btn-dark">XEM THÊM</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-6">
                <div class=" hover_total">
                    <div class="hidden ">
                        <img id="img_active7" class="fakeimg img_hover" src="/Assets/Client/image/TU-LY-BARBIER-WALNUT-410043Z-1-600x400.jpg" alt="">
                    </div>
                    <div class="d-flex ">
                        <div class="me-auto">
                            <div class="nav-link text-muted cursor" aria-current="page" href="#">tủ ly Barbie Walnut 410043Z</div>
                        </div>
                        <div class="ms-auto ">
                            <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                            <bdi class="text-danger ">42,236,500<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                            <small class="text-decoration-line-through mt-3 text-muted ">49,690,000<small class="woocommerce-Price-currencySymbol">₫</small></small>
                        </div>
                    </div>
                    <div class="d-flex design_top hidden_img">
                        <button class=" btn btn-outline-dark">THÊM VÀO GIỎ</button>
                        <button class="float-right btn btn-dark">XEM THÊM</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-6">
                <div class=" hover_total">
                    <div class="hidden ">
                        <img id="img_active4" class=" fakeimg img_hover" src="/Assets/Client/image/giuong-dubai-go-vai-4-600x400.jpg" alt="">
                    </div>
                    <div class="d-flex ">
                        <div class="me-auto">
                            <div class="nav-link text-muted cursor" aria-current="page" href="#">Giường ngủ Dubai 1m6 bọc vải màu kem AA34/150</div>
                        </div>
                        <div class="ms-auto ">
                            <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                            <bdi class="text-danger ">12,665,001<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                            <small class="text-decoration-line-through mt-3 text-muted ">14,900,001<small class="woocommerce-Price-currencySymbol">₫</small></small>
                        </div>
                    </div>
                    <div class="d-flex design_top hidden_img">
                        <button class="float-right btn btn-dark">XEM THÊM</button>
                    </div>
                </div>
            </div>*@
    </div>
</div>

<!-- Giuong cong nang -->
<div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner slide">
            <div class="item">
                <img height=500px width="100%" src="/Assets/Client/image/giuong-iris-dep-gia-tot-hoc-keo.jpg" alt="">
                <div class="carousel-caption design_top_up">
                    <h1 class="text-dark ">GIƯỜNG CÔNG NĂNG GIÁ TỐT</h1>
                    <button class="btn btn-danger " data-aos="fade-right" data-aos-duration="2000">MUA NGAY</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Silde thiết kế nội thất -->
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-6  ">
            <div class="hidden">
                <img class="fakeimg item height_banner" src="/Assets/Client/image/bo-suu-tap-osaka-moi-dep-1536x1185.jpg" alt="">
            </div>

        </div>
        <div class="col-sm-6">
            <div class="row d-flex">
                <div class="col-sm-8">
                    <h2 class="design_top">Thiết kế nội thất</h2>
                    <span class="line_height">Quý khách có thể gặp đội ngũ tư vấn thiết kế chuyên nghiệp để được hướng dẫn hay tư vấn giúp quý khách hàng thực hiện trọn vẹn ý thích của mình.</span>
                    <br><button class="btn btn-dark design_top">Xem ngay</button>
                </div>
                <div class="col-sm-4">
                    <div class="hidden">
                        <img class="fakeimg item height_banner" src="/Assets/Client/image/thiet-ke-noithat-dep-nhaxinh.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sản phẩm vừa xem -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">
            <div class="collapse navbar-collapse boder_bottom" id="navbarID2">
                <div class="navbar-nav ">
                    <h4 class="nav-link active text-dark" aria-current="page" href="#">Sản Phẩm Vừa Xem</h4>
                </div>
                <div class="navbar-nav cursor">
                    <small class="nav-link active text-dark" aria-current="page" href="#"></small>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- DS sản phẩm -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class=" hover_total">
                <div class="hidden position-relative">
                    <img id="img_active1" class=" fakeimg img_hover " src="/Assets/Client/image/sofa-combo-goc-boc-vai-xanh-dep-hien-dai-4.jpg" alt="">
                    <div class="position-absolute discount">15%</div>
                </div>
                <div class="d-flex ">
                    <div class="me-auto">
                        <div class="nav-link text-muted cursor" aria-current="page" href="#">Sofa Combo góc trái vải 20412 9</div>
                    </div>
                    <div class="ms-auto ">
                        <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                        <bdi class="text-danger ">32,215,000<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                        <small class="text-decoration-line-through mt-3 text-muted ">37,900,000<small class="woocommerce-Price-currencySymbol">₫</small></small>
                    </div>
                </div>
                <div class="d-flex design_top hidden_img">
                    <button class=" btn btn-outline-dark">THÊM VÀO GIỎ</button>
                    <button class="float-right btn btn-dark">XEM THÊM</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class=" hover_total ">
                <div class="hidden position-relative">
                    <img id="img_active2" class=" fakeimg img_hover" src="/Assets/Client/image/ban-an-peak-van-may-hien-dai-ceramic-2-600x400.jpg" alt="">
                    <div class="position-absolute discount">15%</div>
                </div>
                <div class="d-flex ">
                    <div class="me-auto">
                        <div class="nav-link text-muted cursor" aria-current="page" href="#">Bàn ăn Peak hiện đại mặt Ceramic vân mây</div>
                    </div>
                    <div class="ms-auto ">
                        <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                        <bdi class="text-danger ">38,165,000<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                        <small class="text-decoration-line-through mt-3 text-muted ">44,900,000<small class="woocommerce-Price-currencySymbol">₫</small></small>
                    </div>
                </div>
                <div class="d-flex design_top hidden_img">
                    <button class=" btn btn-outline-dark">THÊM VÀO GIỎ</button>
                    <button class="float-right btn btn-dark">XEM THÊM</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class=" hover_total">
                <div class="hidden position-relative">
                    <img id="img_active3" class="fakeimg img_hover" src="/Assets/Client/image/armchair-osaka-hien-dai-sang-trong-2-600x400.jpg" alt="">
                    <div class="position-absolute discount">15%</div>
                </div>
                <div class="d-flex ">
                    <div class="me-auto">
                        <div class="nav-link text-muted cursor" aria-current="page" href="#">Arm chair Osaka bọc vải SO65</div>
                    </div>
                    <div class="ms-auto ">
                        <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                        <bdi class="text-danger ">12,665,000<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                        <small class="text-decoration-line-through mt-3 text-muted ">14,900,000<small class="woocommerce-Price-currencySymbol">₫</small></small>
                    </div>
                </div>
                <div class="d-flex design_top hidden_img">
                    <button class=" btn btn-outline-dark">THÊM VÀO GIỎ</button>
                    <button class="float-right btn btn-dark">XEM THÊM</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class=" hover_total">
                <div class="hidden position-relative">
                    <img id="img_active4" class=" fakeimg img_hover" src="/Assets/Client/image/CONSOLE-TABLE-GLORIA-GOLD-82379K-2-600x400.jpg" alt="">
                    <div class="position-absolute discount">15%</div>
                </div>
                <div class="d-flex ">
                    <div class="me-auto">
                        <div class="nav-link text-muted cursor" aria-current="page" href="#">Console Table Gloria Gold 82379K</div>
                    </div>
                    <div class="ms-auto ">
                        <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                        <bdi class="text-danger ">30,090,000<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                        <small class="text-decoration-line-through mt-3 text-muted ">35,400,000<small class="woocommerce-Price-currencySymbol">₫</small></small>
                    </div>
                </div>
                <div class="d-flex design_top hidden_img">
                    <button class="btn btn-outline-dark">THÊM VÀO GIỎ</button>
                    <button class="float-right btn btn-dark">XEM THÊM</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid " data-aos="fade-down" data-aos-duration="2000">
    <h1 class="d-flex justify-content-center design_bottom">Góc Cảm Hứng</h1>
</div>
<!-- slide góc cảm hứng -->
<div class="container-fluid">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper" data-aos="fade-up" data-aos-duration="2000">
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img class="height_img" src="/Assets/Client/image/phong-khach-tram-am-osaka-1536x1024.jpg">
                <div class="mt-3 nav-link hover_text cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Khám phá Nhà Xinh tại triển lãm Handy Craft & Home Decor</h5>
                    <div class="line"></div>
                    <p class="design_text">Từ Ngày 19/7/2022, tại Trung tâm xúc tiến thương mại TP.HCM số 92-92 Nguyễn Huệ, Quận 1, TPHCM sẽ diễn [...]						</p>
                </div>
            </div>
            <div class="swiper-slide  d-block" data-aos="fade-up" data-aos-duration="2000" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/em-va-trinh-nha-xinh-tai-tro-4-1536x1059.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Nhà Xinh tài trợ Em và Trịnh</h5>
                    <div class="line"></div>
                    <p class="design_text">“Em và Trịnh” là bộ phim dựa trên cuộc đời và những bài hát sống mãi với thời gian của [...]					</p>
                </div>
            </div>
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/ke-sach-iris.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Tiết kiệm không gian căn hộ chung cư một cách thông minh</h5>
                    <div class="line"></div>
                    <p class="design_text">Với những căn hộ chung cư, diện tích không gian sẽ khá hạn chế để có thể tối ưu hóa [...]					</p>
                </div>
            </div>
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/ke-sach-hien-dai-gamma.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">5 ý tưởng lắp đầy những khoảng trống cho căn phòng của bạn</h5>
                    <div class="line"></div>
                    <p class="design_text">Sắp xếp, làm mới lại không gian sống cũng là một trong những cách nhanh nhất mang đến cảm giác [...]					</p>
                </div>
            </div>
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/nha-xinh-phong-ngu-giuong-ngu-go-hien-dai-pop-5-1536x1262.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">5 mẫu phòng ngủ đem lại sự thoải mái cho giấc ngủ của bạn</h5>
                    <div class="line"></div>
                    <p class="design_text">Sắp xếp, làm mới lại không gian sống cũng là một trong những cách nhanh nhất mang đến cảm giác [...]					</p>
                </div>
            </div>
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/phong-ngu-giuong-hoc-keo-iris-5.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Sản phẩm giá tốt</h5>
                    <div class="line"></div>
                    <p class="design_text">Lựa chọn các sản phẩm đẹp giá tốt [...]					</p>
                </div>
            </div>
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/sofa-poppy-xanh-7.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Trang hoàng phòng khách đón mùa mới</h5>
                    <div class="line"></div>
                    <p class="design_text">Sắp xếp, làm mới lại không gian sống cũng là một trong những cách nhanh nhất mang đến cảm giác [...]					</p>
                </div>
            </div>
            <div class="swiper-slide d-block" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/mobile-tet-nha-tet-xinh-2022.jpg">
                <div class="mt-3 hover_text nav-link cursor" style="margin-left:-15px;">
                    <h5 class=" d-flex justify-content-left">Tết Nhà Tết Xinh</h5>
                    <div class="line"></div>
                    <p class="design_text">Tết sắp đến, Tết chẳng ở đâu xa, Tết Nhà ấm áp lắm, Tết Xinh từ trong những tâm hồn [...]					</p>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<!-- Tổ ấm của người tinh tế -->
<div class="container-fluid mt-5 bg-light">
    <div class="row">
        <div class="row d-flex">
            <div class="col-sm-6">
                <div class="design_left">
                    <h2 class="design_top">Tổ ấm của người tinh tế</h2>
                    <span class="line_height">Trong suốt hơn 22 năm qua, cảm hứng từ gu thẩm mỹ tinh tế và tinh thần “Việt” đã giúp Nhà Xinh tạo ra những thiết kế độc đáo, hợp thời và chất lượng. Nhà Xinh hiện đã mở 10 cửa hàng tại Việt Nam.</span>
                    <br><button class="btn btn-success hover_button run design_top ">VỀ NHÀ XINH</button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="hidden">
                    <img class="fakeimg item height_banner" src="/Assets/Client/image/gioi-thieu-nha-xinh-moi-25-7-22.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bạn cần Hỗ trợ ?-->
<div class="container-fluid mt-5 bg-light">
    <div class="row">
        <div class="row d-flex">
            <div class="col-sm-6">
                <button style="float: right;" class="btn btn-warning">HOTLINE : 18007200</button>
                <div class="design_left">
                    <h2 class="">Bạn cần hỗ trợ?</h2>
                    <span class="">Xin vui lòng để lại yêu cầu hỗ trợ của bạn.</span>
                    <form action="/action_page.php" class="was-validated ">
                        <div class="mb-3 mt-3">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control " placeholder="Họ tên" name="name" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control " placeholder="+(84) 832297222" name="phone" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                            </div>
                            <input type="email" class="form-control " id="email" placeholder="Enter email" name="email" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                            <textarea class="form-control" rows="5" id="comment" name="Nội dung liên hệ"></textarea>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <input type="file" class=" design_top" id="file">
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-dark design_top" style="line-height: 18px;">GỬI YÊU CẦU</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="hidden">
                    <img class="fakeimg item " src="/Assets/Client/image/nha-xinh-banner-ban-can-lien-he-091221.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- instagram -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">
            <div class="collapse navbar-collapse boder_bottom" id="navbarID">
                <div class="navbar-nav ">
                    <h4 class="nav-link active text-dark" aria-current="page" href="#">Cảm hứng #NHÀXINH</h4>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container design_top">
    <h3><i class="fa-brands fa-instagram"></i> nha_xinh</h3>
</div>
<div class="container-fluid">
    <div class="row design_bottom" data-aos="fade-down" data-aos-duration="3000">
        <div class="col ">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/300877924_611935117067842_1877616114366739360_nlow.jpg" alt="">
        </div>
        <div class="col">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/298326321_1023750038312411_7680981123597098176_nlow.jpg" alt="">
        </div>
        <div class="col">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/295907713_1223508001784258_8774178812293311027_nlow.jpg" alt="">
        </div>
        <div class="col">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/294679981_600768861658126_3197317631605725390_nlow.jpg" alt="">
        </div>
    </div>
    <div class="row " data-aos="fade-up" data-aos-duration="3000">
        <div class="col">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/294389966_3206152186310135_4669148255450209640_nlow.jpg" alt="">
        </div>
        <div class="col">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/292190054_1116080445931850_5370255655595708420_nlow.jpg" alt="">
        </div>
        <div class="col">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/290917408_1478290412619822_6231962353179006553_nlow.jpg" alt="">
        </div>
        <div class="col">
            <img class="fakeimg opcity_img" src="/Assets/Client/image/288530967_2240536319436053_7756105841528101718_nlow.jpg" alt="">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button class="design_top btn btn-warning ">Xem thêm</button>
        <button class="design_top btn btn-info" style="margin-left:20px">Follow on Instagram</button>
    </div>
</div>
<!-- silde xem và cảm nhận -->
<div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner slide">
            <div class="item">
                <img src="/Assets/Client/image/cua-hang-nha-xinh-191121-1400x690.jpg" alt="Xem, chạm và cảm nhận">
                <div class="carousel-caption design_top">
                    <h1 class="text-white fw-bold">Xem, chạm và cảm nhận</h1>
                    <button class="btn btn-outline-light run_left fw-bolder design_top">Tìm cửa hàng  <i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>



