
@{
    ViewBag.Title = "Showroom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- video -->
<div class="container  mt-3" style="max-width:1000px; margin:auto">
    <iframe class="fakeimg" height="500px" src="https://www.youtube.com/embed/JNKiWZiQkbE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<!-- silde xem và cảm nhận -->
<div class="container-fluid mt-3">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner slide">
            <div class="item">
                <img src="/Assets/Client/image/cua-hang-nha-xinh-191121-1400x690.jpg" alt="Xem, chạm và cảm nhận">
                <div class="carousel-caption design_top">
                    <h1 class="text-white fw-bold">Xem, chạm và cảm nhận</h1>
                    <button class="btn btn-outline-light run_left fw-bolder design_top">Tìm cửa hàng  <i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

