
@{
    ViewBag.Title = "Mau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- slide -->
<div class="container-fluid mt-3">
    <img class="fakeimg" height="600px" src="/Assets/Client/image/thiet-ke-noi-that-nha-xinh-31322-ok.jpg" alt="">
</div>
<!-- interior_design -->
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-6 ps-5 pe-5">
            <h1>THIẾT KẾ NỘI THẤT</h1>
            <h4>Đội ngũ thiết kế luôn sẵn sàng</h4>
            <p>Quý khách có thể gặp đội ngũ tư vấn thiết kế chuyên nghiệp để được hướng dẫn hay tư vấn giúp quý khách hàng thực hiện trọn vẹn ý thích của mình.</p>
            <br>
            <h4>Khi liên hệ Nhà Xinh quý khách được:</h4><br>
            <p>Hướng dẫn quý khách trong việc chọn đồ nội thất</p>
            <p>Tư vấn thiết kế miễn phí khi mua đồ nội thất Nhà Xinh</p>
            <p>Tư vấn để có một không gian sống hài hòa, ấm cúng và thoải mái</p>
            <p>Giúp quý khách thể hiện phong cách của mình qua không gian sống</p>
            <p>Từ bản vẽ mặt bằng nhà quý khách, thiết kế Nhà Xinh thực hiện bản vẽ 3D giúp quý khách dễ dàng hình dung thực tế.</p><br>
            <button class="w-100  fw-bold hover_button2 ">XEM MẪU THIẾT KẾ  <i class="fa-solid fa-check"></i></button>

        </div>
        <div class="col-sm-6">
            <img class="fakeimg" src="/Assets/Client/image/thecollection3.jpg" alt="">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6">
            <img class="fakeimg" src="/Assets/Client/image/nha-xinh-phong-an-1.jpg" alt="">
        </div>
        <div class="col-sm-6 ps-5 pe-5">
            <h1>Quý khách nhận nhà thô, quá bận rộn và cần một đơn vị uy tín</h1><br>
            <p>Quý khách khi nhận nhà thô là biệt thự, nhà phố, căn hộ, chỉ cần cung cấp mặt bằng, Nhà Xinh sẽ làm việc để đưa ra những ý tưởng thiết kế và cung cấp trọn gói cho không gian, từ tủ bếp, phòng khách, phòng ăn, phòng ngủ, phòng làm việc… và những món đồ trang trí làm cho không gian thêm sống động.</p>
            <br>
            <button class="w-100  fw-bold hover_button2 ">XEM MẪU THIẾT KẾ  <i class="fa-solid fa-check"></i></button>

        </div>
    </div>
</div>
<!-- design process -->
<div class="container-fluid mt-3">
    <div class="h2 text-center">Quy Trình Thiết Kế</div>
    <div class="row">
        <div class="col-sm-4">
            <h4>Bước 1: Tiếp nhận thông tin và khảo sát</h4><br>
            <p>Tổng hợp các yêu cầu của khách hàng về dạng công trình (căn hộ, biệt thự, nhà phố); mức độ thiết kế (cung cấp sản phẩm, cải tạo, thiết kế mới);…sau đó tiến hành khảo sát hiện trạng mặt bằng, đo đạc thực tế.</p>
        </div>
        <div class="col-sm-4">
            <h4>Bước 2: Thiết kế ý tưởng</h4><br>
            <p>Dựa trên các thông tin thu thập từ khách hàng kết hợp với khảo sát hiện trạng, thiết kế Nhà Xinh sẽ lên ý tưởng, giải pháp không gian mặt bằng, bố trí thỏa mãn tất cả các yêu cầu và mục tiêu đề ra. Đến thời điểm này chúng tôi có thể lên dự toán sơ bộ chi phí đầu tư cho khách hàng nắm rõ, dựa trên bảng vẽ mặt bằng không gian đã thống nhất trước đó.</p>
        </div>
        <div class="col-sm-4">
            <h4>Bước 3: Thiết kế phối cảnh 3D</h4><br>
            <p>Dựa trên mặt bằng đã được khách hàng duyệt thiết kế Nhà Xinh sẽ thể hiện cho khách hàng thấy rõ không gian nội thất bên trong một cách cụ thể và sống động qua phương pháp vẽ phối cảnh 3D. Thể hiện đầy đủ màu sắc, chất liệu vật liệu để khách hàng thấy rõ không gian và nội thất của căn phòng mình trước khi thi công.</p>
        </div>
        <div class="col-sm-4">
            <h4>Bước 4: Ký hợp đồng thi công</h4><br>
            <p>Sau khi chỉnh sửa thiết kế 3D cuối cùng giữa thiết kế Nhà Xinh và khách hàng. Hai bên sẽ tiến đến ký kết hợp đồng thi công theo bảng dự toán báo giá cuối cùng dựa trên thiết kế khách hàng đã duyệt.</p>
        </div>
        <div class="col-sm-4">
            <h4>Bước 5: Triển khai thi công</h4><br>
            <p>Đội ngũ giám sát kết hợp với thiết kế Nhà Xinh sẽ triển khai thi công tại công trình theo tiến độ đã đưa ra.</p>
        </div>
        <div class="col-sm-4">
            <h4>Bước 6: Nghiệm thu bàn giao</h4><br>
            <p>Tiến hành nghiệm thu và bàn giao công trình sau khi hoàn tất các hạng mục thi công. Bên Nhà Xinh sẽ tiến hành vệ sinh toàn bộ công trình, hướng dẫn khách hàng sử dụng sản phẩm, lập biên bản nghiệm thu, bàn giao công trình.</p>
        </div>
    </div>
</div>
<!-- hình ảnh -->
<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-6 mt-3">
            <div id="myCarousel" class="carousel" data-ride="carousel">
                <div class="carousel-inner ">
                    <div>
                        <img class="fakeimg" src="/Assets/Client/image/nha-xinh-phong-khach-1.jpg" height="500px" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mt-3">
            <div id="myCarousel" class="carousel" data-ride="carousel">
                <div class="carousel-inner ">
                    <div>
                        <img class="fakeimg" src="/Assets/Client/image/533332_10002.jpg" height="500px" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div id="myCarousel" class="carousel mt-3" data-ride="carousel">
                <div class="carousel-inner ">
                    <div>
                        <img class="fakeimg" src="/Assets/Client/image/thecollection5.jpg" height="240px" alt="">
                    </div>
                </div>
            </div>
            <div id="myCarousel" class="carousel mt-3" data-ride="carousel">
                <div class="carousel-inner ">
                    <div>
                        <img class="fakeimg" src="/Assets/Client/image/nha-xinh-phong-ngu-3.jpg" height="240px" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

