
@{
    ViewBag.Title = "MauThietKe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- SLIDE -->
<div class="container-fluid">
    <div id="myCarousel" class="carousel" data-ride="carousel">
        <div class="carousel-inner " style="height:450px; overflow: hidden;">
            <img class="fakeimg" src="/Assets/Client/image/banner-mau-thiet-ke.jpg" alt="">
            <div class="carousel-caption fw-bold" style="margin-top: 140px !important;">
                <h1 class="text-white text-start" style="margin-top: 20px !important;margin-left: -15% !important;">MẪU THIẾT KẾ</h1>
                <h5 class="text-end" style="margin-top: -40px !important;margin-right: -15% !important;">
                    <a class="text-white text-decoration-none  " href="">Trang chủ</a> /
                    <a class="text-white text-decoration-none " href="">Mẫu thiết kế</h4>
            </div>
        </div>
    </div>
</div>
<!-- Mẫu thiết kế căn hộ -->
<div class="container-fluid mt-5">
    <div class="h2 text-center text-dark">Các mẫu thiết kế căn hộ</div>
    <div class="row mt-5">
        <div class="col-sm-6 ">
            <div class="swiper-slide d-block " data-aos="fade-up" data-aos-duration="2000">
                <img class="height_img" src="/Assets/Client/image/empire-3pn-0.jpg">
                <div class=" nav-link hover_text cursor" style="margin-left: -15px;">
                    <h5 class=" ">Mẫu thiết kế căn hộ Empire City 3PN</h5>
                    <div class="line"></div>
                    <p class="design_text">Những gợi ý thiết kế dự án nội thất Empire City 3PN quận 2 Sài Gòn [...]						</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="swiper-slide  d-block " data-aos="fade-up" data-aos-duration="2000" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/empire-2pn-1-768x614.jpg">
                <div class="hover_text nav-link cursor" style="margin-left: -15px;">
                    <h5 class=" ">Mẫu thiết kế căn hộ Empire City 2PN </h5>
                    <div class="line"></div>
                    <p class="design_text">Những gợi ý thiết kế dự án nội thất Empire City 2PN quận 2 Sài Gòn [...]					</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="swiper-slide d-block " data-aos="fade-up" data-aos-duration="2000">
                <img class="height_img" src="/Assets/Client/image/empire-1pn.jpg">
                <div class=" nav-link hover_text cursor" style="margin-left: -15px;">
                    <h5 class=" ">Mẫu thiết kế căn hộ Empire City 1PN</h5>
                    <div class="line"></div>
                    <p class="design_text">Những gợi ý thiết kế dự án nội thất Empire City 1PN quận 2 Sài Gòn [...]						</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="swiper-slide  d-block " data-aos="fade-up" data-aos-duration="2000" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/nha-xinh-uu-dai-cu-dan-edge-thao-dien-3pn-768x576.jpg">
                <div class="hover_text nav-link cursor" style="margin-left: -15px;">
                    <h5 class=" ">Mẫu thiết kế căn hộ D'edge City 3PN</h5>
                    <div class="line"></div>
                    <p class="design_text">Những gợi ý thiết kế nội thất dự án D-edge 3PN quận 2 Sài Gòn [...]					</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="swiper-slide d-block " data-aos="fade-up" data-aos-duration="2000">
                <img class="height_img" src="/Assets/Client/image/nha-xinh-uu-dai-cu-dan-edge-thao-dien-3pn-768x576.jpg">
                <div class=" nav-link hover_text cursor" style="margin-left: -15px;">
                    <h5 class=" ">Mẫu thiết kế căn hộ D'edge City 2PN</h5>
                    <div class="line"></div>
                    <p class="design_text">Những gợi ý thiết kế nội thất dự án D-edge 3PN quận 2 Sài Gòn [...]						</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="swiper-slide  d-block " data-aos="fade-up" data-aos-duration="2000" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/AKA-uu-dai-cu-dan-nhan-nha-Feliz-En-Vista-1-1400x686.jpg">
                <div class="hover_text nav-link cursor" style="margin-left: -15px;">
                    <h5 class=" ">Mẫu thiết kế căn hộ Feliz En Vista</h5>
                    <div class="line"></div>
                    <p class="design_text">Những gợi ý thiết kế dự án Feliz En Vista quận 2 Sài Gòn [...]					</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="swiper-slide d-block " data-aos="fade-up" data-aos-duration="2000">
                <img class="height_img" src="/Assets/Client/image/AKA-uu-dai-cu-dan-nhan-nha-ha-do-1pn-2-768x565.jpg">
                <div class=" nav-link hover_text cursor" style="margin-left: -15px;">
                    <h5 class=" ">Mẫu thiết kế căn hộ Hà Đô Centrosa</h5>
                    <div class="line"></div>
                    <p class="design_text">Những gợi ý thiết kế dự án Hà Đô Centrosa quân 10 Sài Gòn[...]						</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="swiper-slide  d-block " data-aos="fade-up" data-aos-duration="2000" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/AKA-uu-dai-cu-dan-nhan-nha-eco-green-a3-768x640.jpg">
                <div class="hover_text nav-link cursor" style="margin-left: -15px;">
                    <h5 class=" ">Mẫu thiết kế căn hộ Eco Green</h5>
                    <div class="line"></div>
                    <p class="design_text">Những gợi ý thiết kế căn hộ Eco Green quận 7 Sài Gòn [...]					</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="swiper-slide d-block " data-aos="fade-up" data-aos-duration="2000">
                <img class="height_img" src="/Assets/Client/image/AKA-uu-dai-cu-dan-nhan-nha-vincom-q9-768x494.jpg">
                <div class=" nav-link hover_text cursor" style="margin-left: -15px;">
                    <h5 class=" ">Mẫu thiết kế căn hộ Vinhomes Grand Park</h5>
                    <div class="line"></div>
                    <p class="design_text">Những gợi ý thiết kế căn hộ Vinhomes Grand Park (quận 9)[...]						</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="swiper-slide  d-block " data-aos="fade-up" data-aos-duration="2000" data-aos="fade-up" data-aos-duration="2000">
                <img src="/Assets/Client/image/aka-mau-can-ho-Vinhome-West-Point-7-600x554.jpg">
                <div class="hover_text nav-link cursor" style="margin-left: -15px;">
                    <h5 class=" ">Mẫu thiết kế căn hộ Vinhomes West Point 2PN</h5>
                    <div class="line"></div>
                    <p class="design_text">Những gợi ý thiết kế căn hộ Vinhomes West Point (Nam Từ Liên) [...]					</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="swiper-slide d-block " data-aos="fade-up" data-aos-duration="2000">
                <img class="height_img" src="/Assets/Client/image/AKA-uu-dai-cu-dan-nhan-nha-Vinhome-West-Point-2-768x614.jpg">
                <div class=" nav-link hover_text cursor" style="margin-left: -15px;">
                    <h5 class=" ">Mẫu thiết kế căn hộ Vinhomes West Point 3PN</h5>
                    <div class="line"></div>
                    <p class="design_text">Những gợi ý thiết kế căn hộ Vinhomes West Point (Nam Từ Liên) [...]						</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bạn cần Hỗ trợ ?-->
<div class="container-fluid mt-5 bg-light">
    <div class="row">
        <div class="row d-flex">
            <div class="col-sm-6">
                <button style="float: right;" class="btn btn-warning">HOTLINE : 18007200</button>
                <div class="design_left">
                    <h2 class="">Bạn cần hỗ trợ?</h2>
                    <span class="">Xin vui lòng để lại yêu cầu hỗ trợ của bạn.</span>
                    <form action="/action_page.php" class="was-validated ">
                        <div class="mb-3 mt-3">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control " placeholder="Họ tên" name="name" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control " placeholder="+(84) 832297222" name="phone" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                            </div>
                            <input type="email" class="form-control " id="email" placeholder="Enter email" name="email" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                            <textarea class="form-control" rows="5" id="comment" name="Nội dung liên hệ"></textarea>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <input type="file" class=" design_top" id="file">
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-dark design_top" style="line-height: 18px;">GỬI YÊU CẦU</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="hidden">
                    <img class="fakeimg item " src="/Assets/Client/image/nha-xinh-banner-ban-can-lien-he-091221.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

